@media (max-width: 20rem) {
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    .button {
        padding: 0.625rem 1.25rem;
        font-size: 1rem;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 36rem) { 
    .section-paragraph{
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 48rem) {


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 62rem) {
    h2 {
        font-size: 3rem;
    }
    .about-us > .row{
        max-width: 65rem;
    }
    .macbook{
        max-width: 100%;
        margin-top: 0;
    }
}


/* Extra large devices (large desktops, 1232px and up) */
@media (min-width: 77rem) {
    h2 {
        font-size: 3.75rem;
    }
    section{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .section-heading {
        margin-bottom: 4rem;
    }
    .section-paragraph {
        margin-bottom: 4rem;
    }
    .about-us > .row{
        max-width: 75rem;
    }
/*     .section-4__container{
        display: flex;
    }
    .section-5{
        display: block;
    } */
    
.section-4 .heading {
    margin-bottom: 50px;
}

.section-4 .paragraph {
    margin-bottom: 50px;
    width: 295px;
}

.section-4__container {
    display: none;
    position: absolute;
    bottom: 80px;
    left: 400px;
}


