.team-member {
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: relative;
    margin: 0 auto;
    max-width: 240px;
    display: none;
}
@media (min-width: 17.5rem) {

    .team-member {
        display: block;
}



.team-member__name {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    width: 80%;
    padding: 10px;
    margin: -45px auto 0;



/*     background-image: url(../img/name-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
        width: 240px;
    height: 39px; */
}

.team-member__job {
    font-size: 16px;
    color: white;
    font-weight: 400;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BC2E3A;
    width: 60%;
    margin: -5px auto 0;
    padding: 5px;
/*     background-image: url(../img/positio-bg.png);
    background-size: cover;
    background-repeat: none; */
/*     position: relative;
    top: -5px;
    left: 50px;
        width: 170px;
    height: 31px; 
     font-size: 18px;*/
}

@media (min-width: 48rem) {

.owl-item.active.center {
    z-index: 500;
}

.owl-item.active.center>div {
    transform: scale(1.5, 1.5) translate(20px, 20px);
    transition: transform 1500ms ease;
}

.carousel-item{
position: relative;
left: 60px;
margin: 50px 0;
}


.owl-item.active.center .diamond__dark {
    background-color: transparent;
}

.owl-stage {
    margin: 100px 0;
}

.owl-nav {
    position: absolute;
    top: 250px;
    left: -60px;
    width: 110%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.owl-prev>span {
    width: 50px;
    height: 100px;
    display: block;
    background-image: url(../img/arrow-left.png);
    background-size: contain;
}

.owl-next>span {
    width: 50px;
    height: 100px;
    display: block;
    background-image: url(../img/arrow-right.png);
    background-size: contain;
}

}