.service-card {
    width: 33%;
    display: flex;
    margin-top: 85px;
}

.service-card__circle {
    border-radius: 50%;
    background-color: var(--second);
    min-width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.service-card__circle img{
    max-width: 40px;
    max-height: 40px;
}
.service-card__heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: var(--main);
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}
.service-card__description{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: var(--main);
    line-height: 1.7;
}