@font-face {
    font-family: 'Peace Sans';
    src: url('fonts/Peace_Sans.otf');
}

:root {
    --main: #494949;
    --second: #BC2E3A;
    --highlighted: orange;
    --complementary: white;
    --gray: #F5F5F5;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.15;
    color: var(--main);
    background-color: brown;
}

img {
    width: 100%;
}
/* Extra small devices (portrait phones, less than 576px) */
/* @under 576 */

h2 {
    font-family: 'Peace Sans', sans-serif;
    font-size: 2.5rem;
}

p {
    font-size: 1.0625rem;
    line-height: 1.7;
}

.button {
    padding: 1rem 2rem;
    font-size: 1.25rem;
    border-radius: 2rem;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background-color: var(--second);
    color: var(--complementary);
    font-family: "Lato";
    text-transform: uppercase;
    font-weight: bold;
}

.button:hover {
    background-color: var(--highlighted);
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.text-center {
    text-align: center;
}

section{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.section-heading {
    margin-bottom: 2rem;
    text-align: center;
}
.section-paragraph {
    margin-bottom: 2rem;
    max-width: 36rem;
}
.about-us{
    background-color: white;
}
.about-us__1{
    margin-bottom: 2rem;
}

.about-us__2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services {
    background-color: var(--gray);
}

.services ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*  */
.process{
    background-color: white;
}
.process__1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.process-images{
    margin-bottom: 2rem;
    width: 100%;
}
.picture-tip{
    padding: 1rem 0;
}
.tap{
    display: none;
}
@media (hover: none) {
    .tap {
      display: inline;
    }
    .hover{
        display: none;
    }
  }

.team {
    background-color: var(--gray);
}

.clients {
    background-color: white;
}
.clients .diamond {
    margin-bottom: 2rem;
}

.quotation{
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 34rem;
}

.quotation blockquote {
    font-style: italic;
    font-size: 1.0625rem;
    line-height: 1.5;
    display: inline;
}

.quotation span{
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    display: inline;
}

.quotation p{
    font-weight: 700;
    margin-top: 1rem;
}

.clients__container {
/*     display: flex;
    justify-content: space-between; */
}

/* .clients__quotation {
    width: 50%;
} */    