/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, button, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: 'Peace Sans';
  src: url("../webfonts/Peace_Sans.otf");
}

@font-face {
  font-family: 'LemonMilkbold';
  src: url("../webfonts/LemonMilkbold.otf");
}

html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.15;
  color: #494949;
}

img {
  width: 100%;
}

h2 {
  font-family: 'Peace Sans', sans-serif;
  font-size: 2.5rem;
}

p {
  font-size: 1.0625rem;
  line-height: 1.7;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  border-radius: 2rem;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-color: #bc2e3a;
  color: white;
  font-family: "Lato";
  text-transform: uppercase;
  font-weight: bold;
}

.button--second {
  background-color: white;
  color: #494949;
}

.button:hover {
  background-color: orange;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.text-center {
  text-align: center;
}

section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-heading {
  margin-bottom: 2rem;
  text-align: center;
}

.section-paragraph {
  margin-bottom: 2rem;
  max-width: 36rem;
}

.home {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/home-bg2.png);
  background-blend-mode: multiply;
  padding: 0;
  height: 25rem;
  background-color: #bc2e3a;
  position: relative;
}

.home img {
  position: absolute;
  right: 10px;
  z-index: 100;
  width: 245px;
  bottom: -45px;
}

.home .clip {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/home-bg2.png);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.home .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.home h1 {
  font-size: 3rem;
  font-family: "LemonMilkbold";
  text-align: center;
}

.home h2 {
  font-size: 2rem;
  font-family: "LemonMilkbold";
}

.about-us {
  background-color: white;
}

.about-us__1 {
  margin-bottom: 2rem;
  position: relative;
}

.about-us__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services {
  background-color: #F5F5F5;
}

.services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.process {
  background-color: white;
}

.process__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.process-images {
  margin-bottom: 2rem;
  width: 100%;
}

.picture-tip {
  padding: 1rem 0;
}

.tap {
  display: none;
}

@media (hover: none) {
  .tap {
    display: inline;
  }
  .hover {
    display: none;
  }
}

.team {
  background-color: #F5F5F5;
}

.clients {
  background-color: white;
}

.clients .diamond {
  margin-bottom: 2rem;
}

.quotation {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 34rem;
}

.quotation blockquote {
  font-style: italic;
  font-size: 1.0625rem;
  line-height: 1.5;
  display: inline;
}

.quotation span {
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  display: inline;
}

.quotation p {
  font-weight: 700;
  margin-top: 1rem;
}

.clients__container {
  /*     display: flex;
    justify-content: space-between; */
}

/* .clients__quotation {
    width: 50%;
} */
.screen {
  position: absolute;
  width: 67%;
  top: 4%;
  left: 16%;
}

footer {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/footer-bg.png);
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

footer section {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

footer h2 {
  color: #9F9F9F;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact {
  width: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  line-height: 1.4;
  font-size: 1.0625rem;
  margin-bottom: 2rem;
}

.contact__mark {
  max-width: 3.5rem;
  max-height: 3.5rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.contact__mark img {
  width: auto;
  height: auto;
}

.contact h3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.2rem;
  color: white;
  margin: 4rem auto 2rem;
}

.social-media li {
  margin: 1.5rem;
}

.line {
  max-width: 46rem;
  height: 3px;
  background-color: #494949;
  margin: 0 auto;
}

.copyright {
  margin: 2rem auto;
  text-align: center;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copyright span {
  padding: 0.5rem;
}

.copyright__split {
  display: none;
}

.service-card {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 10px;
}

.service-card .circle {
  border-radius: 50%;
  background-color: #bc2e3a;
  min-width: 75px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.service-card img {
  max-width: 50%;
  max-height: 50%;
}

.service-card h3 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service-card p {
  font-size: 17px;
  line-height: 1.7;
}

@media (max-width: 576px) {
  .service-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 315px;
  }
  .service-card h3 {
    text-align: center;
  }
}

@media (max-width: 240px) {
  .service-card h3 {
    font-size: 20px;
  }
  .service-card p {
    font-size: 14px;
  }
}

.skew {
  /* width: 310px; */
  max-width: 425px;
  width: 100%;
  height: 300px;
  /*     
    transform: skew(-25deg);
    overflow: hidden;
    margin-left: 50px;
     */
  margin: 0 auto 1rem;
}

.skew__image {
  /*     width: 460px;
    height: 600px;
    transform: skew(25deg); */
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 80% top;
}

.skew__image--1 {
  background-image: url(../img/idea.jpeg);
}

.skew__image--2 {
  background-image: url(../img/design.jpeg);
}

.skew__image--3 {
  background-image: url(../img/output.jpeg);
}

.skew__dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /*  */
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skew__number {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: white;
  font-weight: 700;
  /*     position: absolute;
    right: 45px;
    top: 15px; */
  text-align: right;
}

.skew__article {
  /*     position: absolute;
    left: 50px;
    bottom: 310px; */
}

.skew__heading {
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  color: white;
  font-weight: 700;
}

.skew__description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 400;
  max-width: 210px;
  margin-top: 15px;
  line-height: 1.4;
  display: none;
}

.skew__dark:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.skew__dark:hover .skew__article {
  /* left: 75px;
    bottom: 320px; */
}

.skew__dark:hover .skew__description {
  display: block;
}

@media (max-width: 240px) {
  .skew__heading {
    font-size: 24px;
  }
}

.diamond {
  height: 250px;
  max-width: 250px;
  width: 100%;
  /*     transform: rotate(-45deg);
    overflow: hidden; */
  border: 12px solid white;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: relative;
  margin: 0 auto;
}

.diamond--shadow {
  -webkit-box-shadow: 0px 0px 10px 10px rgba(231, 231, 230, 0.5);
          box-shadow: 0px 0px 10px 10px rgba(231, 231, 230, 0.5);
}

.diamond__image {
  /*     width: 350px;
    height: 350px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  /*     left: -70px;
    top: -65px;
    transform-origin: center;
    transform: rotate(45deg);
    transform-origin: center; */
  width: 100%;
  height: 100%;
}

.diamond__image--1 {
  background-image: url(../img/carousel-1.jpeg);
}

.diamond__image--2 {
  background-image: url(../img/carousel-2.jpeg);
}

.diamond__image--3 {
  background-image: url(../img/carousel-3.jpeg);
}

.diamond__image--4 {
  background-image: url(../img/carousel-4.jpg);
}

.diamond__image--5 {
  background-image: url(../img/carousel-5.jpg);
}

.diamond__image--6 {
  background-image: url(../img/carousel-6.jpg);
}

.diamond__image--7 {
  background-image: url(../img/carousel-7.jpeg);
}

.diamond__dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 240px) {
  .diamond {
    border: none;
  }
}

.team-member {
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: relative;
  margin: 0 auto;
  max-width: 240px;
  display: none;
}

@media (min-width: 17.5rem) {
  .team-member {
    display: block;
  }
}

.team-member__name {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252525;
  width: 80%;
  padding: 10px;
  margin: -45px auto 0;
  /*     background-image: url(../img/name-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
        width: 240px;
    height: 39px; */
}

.team-member__job {
  font-size: 16px;
  color: white;
  font-weight: 400;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #BC2E3A;
  width: 60%;
  margin: -5px auto 0;
  padding: 5px;
  /*     background-image: url(../img/positio-bg.png);
    background-size: cover;
    background-repeat: none; */
  /*     position: relative;
    top: -5px;
    left: 50px;
        width: 170px;
    height: 31px; 
     font-size: 18px;*/
}

.row {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.column {
  width: 100%;
}

@media (max-width: 17.5rem) {
  .contact {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__mark {
    display: none;
  }
}

@media (max-width: 20rem) {
  section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
  }
  .button {
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
  }
  .home {
    height: 20rem;
  }
  .home h1 {
    font-size: 2rem;
  }
  .home h2 {
    font-size: 1.5rem;
  }
  .home img {
    width: 200px;
    bottom: -45px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 36rem) {
  .section-paragraph {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .home h1 {
    font-size: 4rem;
  }
  .home h2 {
    font-size: 3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
/* Large devices (desktops, 992px and up) */
@media (min-width: 62rem) {
  h2 {
    font-size: 3rem;
  }
  .about-us > .row {
    max-width: 65rem;
  }
  .macbook {
    max-width: 100%;
    margin-top: 0;
  }
  .home h1 {
    font-size: 6.5rem;
  }
  .home h2 {
    font-size: 4rem;
  }
  .copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .copyright__split {
    display: inline;
  }
}

/* Extra large devices (large desktops, 1232px and up) */
@media (min-width: 77rem) {
  h2 {
    font-size: 3.75rem;
  }
  section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .section-heading {
    margin-bottom: 4rem;
  }
  .section-paragraph {
    margin-bottom: 4rem;
  }
  .about-us > .row {
    max-width: 75rem;
  }
  /*     .section-4__container{
        display: flex;
    }
    .section-5{
        display: block;
    } */
  .section-4 .heading {
    margin-bottom: 50px;
  }
  .section-4 .paragraph {
    margin-bottom: 50px;
    width: 295px;
  }
  .section-4__container {
    display: none;
    position: absolute;
    bottom: 80px;
    left: 400px;
  }
}

@media (min-width: 48rem) {
  .owl-item.active.center {
    z-index: 500;
  }
  .owl-item.active.center > div {
    -webkit-transform: scale(1.5, 1.5) translate(20px, 20px);
            transform: scale(1.5, 1.5) translate(20px, 20px);
    -webkit-transition: -webkit-transform 1500ms ease;
    transition: -webkit-transform 1500ms ease;
    transition: transform 1500ms ease;
    transition: transform 1500ms ease, -webkit-transform 1500ms ease;
  }
  .carousel-item {
    position: relative;
    left: 60px;
    margin: 50px 0;
  }
  .owl-item.active.center .diamond__dark {
    background-color: transparent;
  }
  .owl-stage {
    margin: 100px 0;
  }
  .owl-nav {
    position: absolute;
    top: 250px;
    left: -60px;
    width: 110%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .owl-prev > span {
    width: 50px;
    height: 100px;
    display: block;
    background-image: url(../img/arrow-left.png);
    background-size: contain;
  }
  .owl-next > span {
    width: 50px;
    height: 100px;
    display: block;
    background-image: url(../img/arrow-right.png);
    background-size: contain;
  }
}
