.team-member {
    position: relative;
}

.team-member__name {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 39px;
    background-image: url(../img/name-bg.png);
    background-size: cover;
    background-repeat: none;
}

.team-member__job {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
    font-style: italic;
    width: 170px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/positio-bg.png);
    background-size: cover;
    background-repeat: none;
    position: relative;
    top: -5px;
    left: 50px;
}